<!-- Code: Prakash-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scheduling</title>

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body id = scheduling>

<!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

        <div class="container">

            <!-- LOGO -->

            <a class="navbar-brand fw-bold" href="{{ url_for('dashboard') }}">
                Digital Billboard
            </a>

            <!-- MOBILE MENU BUTTON -->

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">

                <span class="navbar-toggler-icon"></span>

            </button>

            <!-- NAVIGATION LINKS -->

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto">


                    <!-- ANALYTICS -->

                    <li class="nav-item">
                        <a class="nav-link"
                        href="{{ url_for('analytics') }}">
                            Analytics
                        </a>
                    </li>

                    <!-- UPLOAD -->

                    <li class="nav-item">
                        <a class="nav-link"
                        href="{{ url_for('uploadAdvertisement') }}">
                            Upload Advertisement
                        </a>
                    </li>

                    <!-- SUBSCRIPTION -->

                    <li class="nav-item">
                        <a class="nav-link active"
                        href="{{ url_for('subscription') }}">
                            Subscription
                        </a>
                    </li>

                    <!-- LOGOUT -->

                    <li class="nav-item">
                        <a class="nav-link text-danger"
                        href="{{ url_for('logout') }}">
                            Logout
                        </a>
                    </li>

                    

                

                </ul>

            </div>

        </div>

    </nav>

    <!-- FLASH MESSAGES -->

    <div class="container mt-3">

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="alert alert-{{ category }} alert-dismissible fade show">

                        {{ message }}

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                        </button>

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

    </div>

<!-- PAGE CONTENT -->

<div class="container mt-5">

    <div class="text-center mb-5">

        <h1 class="fw-bold">
            Campaign Scheduling
        </h1>

        <p>
            Schedule your advertisement campaigns
        </p>

    </div>

    <!-- SCHEDULING FORM -->


    <form id = "uploadScheduling" action="/scheduling" method="POST" class = "uploadScheduling" enctype="multipart/form-data">
        <div class="card shadow border-0">

            <div class="card-body p-4">

                <form>

                    <!-- ADVERTISEMENT SELECTION -->

                    <div class="mb-3">

                        <label class="form-label">
                            Select Advertisement
                        </label>

                        <select class="form-select" name="advert_id">

                            {% for advertisement in advertisements %}
                            <option value= "{{ advertisement.advert_id }}" > {{ advertisement.caption }} </option>
                            {% endfor %}
                        </select>

                    </div>

                    <!-- BILLBOARD LOCATION -->

                    <div class="mb-3">

                        <label class="form-label">
                            Billboard Location
                        </label>

                        <select class="form-select" name="location">

                            <option>Dublin City Center</option>
                            <option>Airport Terminal 1</option>
                            <option>Swords Pavilions Shopping Centre</option>
                            <option>Connolly Train Station</option>
                            {% if subscription_plan == "Standard" or subscription_plan == "Premium" %}
                                <option>O'Connell Street</option>
                                <option>Airport Terminal 2</option>
                                <option>ILAC Shopping Centre</option>
                            {% endif %}

                            {% if subscription_plan == "Premium" %}
                                <option>St. Stephen's Green</option>
                                <option>Temple Bar</option>
                                <option>Grafton Street</option>
                                <option>Jervis Shopping Centre</option>
                            {% endif %}

                        </select>

                    </div>

                    <!-- DATE START-->

                    <div class="mb-3">

                        <label class="form-label">
                            Campaign Start Date
                        </label>

                        <input type="date"
                               class="form-control"
                                name="date_start">

                    </div>


                    <!-- DATE END -->

                    <div class="mb-3">

                        <label class="form-label">
                            Campaign End Date
                        </label>

                        <input type="date"
                               class="form-control"
                                name="date_end">

                    </div>


                    <!-- TIME SLOT -->

                    <div class="mb-3">

                        <label class="form-label">
                            Time Slot
                        </label>

                        <select class="form-select" name="time">

                            <option>08:00 AM - 10:00 AM</option>
                            <option>12:00 PM - 02:00 PM</option>
                            <option>04:00 PM - 06:00 PM</option>
                            <option>08:00 PM - 10:00 PM</option>
                            {% if subscription_plan == "Standard" or subscription_plan == "Premium" %}
                            <option>10:00 AM - 12:00 PM</option>
                            <option>02:00 PM - 04:00 PM</option>
                            <option>06:00 PM - 08:00 PM</option>
                            <option>10:00 PM - 12:00 AM</option>
                            {% endif %}

                            {% if subscription_plan == "Premium" %}
                            <option>12:00 AM - 04:00 AM</option>
                            <option>04:00 AM - 08:00 AM</option>
                            <option>08:00 AM - 06:00 PM</option>
                            {% endif %}
                        </select>

                    </div>



                    <!-- SUBMIT BUTTON -->

                    <button type="submit"
                            class="btn btn-dark w-100">

                        Schedule Campaign

                    </button>

                </form>

            </div>

        </div>
    </form>
</div>

<!-- Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>